@model CleanCoding.Models.ArticleListViewModel

<div class="article">
    <h3>@Html.ActionLink(@Model.Title, "ArticleFull", new {id = @Model.ArticleID})</h3>
                
    <p>@Model.Body</p>
    <p style="color: #f00">Comments: @Model.CommentCount</p>

    @*<p>@Model.Body.Substring(0, @Model.Body.IndexOf(Environment.NewLine))</p>*@


    @*Display Links based on if an admin or not*@
    @if (Roles.IsUserInRole("Administrator"))
    {
        <p>
            TAGS:
             @{        
                CleanCoding.Models.CleanCodingDB db = new CleanCoding.Models.CleanCodingDB();

                var list =
                        db.Tag
                        .OrderBy(r => r.ID)
                        .Where(r => r.ArticleID == Model.ArticleID)
                        .Take(10);

                CleanCoding.Models.Tag[] tags = list.ToArray();
            }
            @for (int i = 0; i < tags.Count(); i++)
            {
                @Html.Raw("<")
                @Html.Raw(tags[i].word)   
                @Html.Raw(">") 
            }
        </p>
        <p>
            | @Html.ActionLink("Delete", "Delete", new { id = @Model.ArticleID }) |
            @Html.ActionLink("Edit", "Edit", new { id = @Model.ArticleID }) |
            @Html.ActionLink("Read More...", "ArticleFull", new {id = @Model.ArticleID}) |
        </p>   
    }
    else
    {       
        <p style="color: #51588d">
            TAGS:
            @{        
                CleanCoding.Models.CleanCodingDB db = new CleanCoding.Models.CleanCodingDB();

                var list =
                        db.Tag
                        .OrderBy(r => r.ID)
                        .Where(r => r.ArticleID == Model.ArticleID)
                        .Take(10);

                CleanCoding.Models.Tag[] tags = list.ToArray();
            }

            @for (int i = 0; i < tags.Count(); i++)
            {
                @Html.ActionLink(" <" + tags[i].word + "> ", "TagSearch", new { searchTerm = tags[i].word })
            }
        </p>
        
        @*<p>
            @Html.ActionLink("Read More...", "ArticleFull", new {id = @Model.ArticleID})
        </p>*@        
    }
    <hr />

</div>
