@model CleanCoding.Models.Comment

<div class="comment">
    <h4>@Model.UserID UserName</h4>
    <p>@Model.Message</p>
    <hr />
    <p>
         | @Html.ActionLink("Delete", "Delete", "Comment", new { id = @Model.ID }, null) |
           @Html.ActionLink("Edit", "Edit", "Comment", new { id = @Model.ID }, null) |
    </p>
</div>
<br />
