@model CleanCoding.Models.ArticleListViewModel
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}
@section featured {
    <section class="featured">
        @*<div class="float-right">
            <img src="images/ChuckNorrisApproved.jpg" width="100" height="100" style="padding:15px; border:none" />
        </div>*@

        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div class="articleFull" >
    <fieldset>
        <legend>ArticlesModel</legend>
        @Html.HiddenFor(model => model.ArticleID)
@*        <div class="display-field">
            <h3 style="text-align:center; text-decoration-line:underline;">@Html.DisplayFor(model => model.Title)</h3>
        </div>*@
       <br />
        <div class="display-field">
            <h5>@Html.DisplayFor(model => model.Body)</h5>
        </div>
    </fieldset>

    @{        
        CleanCoding.Models.CleanCodingDB db = new CleanCoding.Models.CleanCodingDB();

        var list =
                db.Comments
                .OrderBy(r => r.ID)
                .Where(r => r.ArticleID == Model.ArticleID)
                .Take(10);
        
        //var list =
        //        db.Comments
        //        .OrderBy(r => r.ID)
        //        .Where(r => r.ArticleID == Model.ArticleID)
        //        .Take(10)
        //        .Select(r => new CleanCoding.Models.Comment
        //        {
        //            ArticleID = r.ArticleID,
        //            UserID = r.UserID,
        //            ID = r.ID,
        //            Message = r.Message
        //        });
    }
    <hr />
    @foreach (var item in list) 
    {
        @Html.Partial("_CommentPartial", item);

    }

    @*Display Links based on if an admin or not*@
@*    @if (Roles.IsUserInRole("Administrator"))
    {
        <p>
        @Html.ActionLink("Comment", "Comment", "Comment") |
        @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleID }) |            
        @Html.ActionLink("Delete", "Delete", new { id=Model.ArticleID }) |
        @Html.ActionLink("Back to List", "Index")
        </p>   
    }
    else
    {
        if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <p>
            @Html.ActionLink("Comment", "Comment", "Create");
            </p>
        }
        else
        {
            <p>You must be logged in to comment.</p>
        }
            
    }*@
    <p>
        @Html.ActionLink("Comment", "Create", "Comment") |
        @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleID }) |            
        @Html.ActionLink("Delete", "Delete", new { id=Model.ArticleID }) |
        @Html.ActionLink("Back to List", "Index")
    </p> 
</div>
